@font-face {
  font-family: plusJakartaSans;
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-BoldItalic.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-ExtraBoldItalic.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-ExtraLight.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-ExtraLightItalic.ttf")
      format("truetype"),
    url("./assets/fonts/PlusJakartaSans-Italic.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-Light.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-LightItalic.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-MediumItalic.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/PlusJakartaSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal 400 800 200 300 500 600;
  font-style: normal italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: plusJakartaSans;
}

html,
body {
  height: 100%;
  width: 100%;
}
